@import '../../../utility';

section#customer-form-section {
  .top-action-area {
    display: flex;
    align-items: center;
    .back-action {
      width: 1.5rem;
      border-right: 1px solid $primary-border-color;
      color: $primary-highlight-color;
    }
    .top-title {
      flex: 0 1 calc(100% - 3rem);
    }
    .close-action {
      width: 1.5rem;
      color: $primary-highlight-color;
    }
  }
  form {
    width: 100%;
    input {
      width: inherit;
      margin: 0.25rem 0rem;
      font-size: $sm-font-size;
      height: calc(0.1vh + 2rem);
      border-radius: 0%;
      border: 1px solid $primary-border-color;
      outline: none;
    }
    .form-select {
      color: $primary-dark-font-color;
      font-size: $sm-font-size;
      height: calc(0.1vh + 2rem);
      border-radius: 0%;
      border: 1px solid $primary-border-color;
      outline: none;
      box-shadow: none;
      width: 100%;
    }
    div {
      width: inherit;
    }
  }
  .action-area {
    float: right;
    margin-top: 0.25rem;
    button {
      margin-left: 0.25rem;
      border-radius: 1px;
      padding: calc(0.2vh + 0.1rem) calc(0.5vh + 0.25rem);
    }
  }
}

@media (min-width: 480px) {
  section#customer-form-section {
    .top-action-area {
      background-color: #ffffff;
      margin-bottom: 1px;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
    }
    form {
      input {
        height: auto;
      }
      .form-select {
        height: auto;
      }
    }
  }
}