<section id="customer-form-section">
  <div class="top-action-area xsPadding md-font">
  <div class="back-action pointer bold"><</div>
  <h5 class="top-title smPadding paddingRightNone md-font">New Customer</h5>
  <div tabindex="0" [attr.aria-label]="'Close icon'" class="close-action pointer bold">X</div>
  </div>
  <mat-card>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <select class="form-select smPadding" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <input
        id="first-name"
        placeholder="First Name"
        class="smPadding"
        type="text"
        formControlName="firstName"
        required
      />

      <input
        id="last-name"
        placeholder="Last Name"
        class="smPadding"
        type="text"
        formControlName="lastName"
      />

      <input
        id="email"
        placeholder="Email"
        class="smPadding"
        type="text"
        formControlName="email"
        required
      />

      <input
        id="phone-number"
        placeholder="Phone Number"
        class="smPadding"
        type="text"
        formControlName="phoneNumber"
      />

      <div formGroupName="address">
        <h2 class="mdPadding paddingLeftNone md-font">Billing Address</h2>

        <input
          id="addressLine"
          type="text"
          placeholder="Address Line 1"
          class="smPadding floatLeft"
          formControlName="addressLine"
        />

        <select class="form-select smPadding floatLeft" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>

        <input
          id="city"
          type="text"
          placeholder="City"
          class="smPadding"
          formControlName="city"
        />

        <input id="zip" type="text" placeholder="Zip" class="smPadding" formControlName="zip" />
      </div>

      <button id="add-customer-btn" type="submit" class="btn btn-primary md-font sm" [disabled]="!profileForm.valid">Add New Customer</button>
    </form>
  </mat-card>
</section>
