<section id="lookup-form-section" class="smPadding">
  <form [formGroup]="lookupForm" (ngSubmit)="onSubmit()">
    <input
      id="first-name"
      placeholder="First Name"
      type="text"
      formControlName="firstName"
    />
    <input
      id="last-name"
      placeholder="Last Name"
      type="text"
      formControlName="lastName"
    />
    <input id="email" placeholder="Email" type="text" formControlName="email" />
    <input
      id="phone-number"
      placeholder="Phone Number"
      type="text"
      formControlName="phoneNumber"
    />
  </form>
  <div class="action-area">
    <button type="button" class="btn btn-outline-primary sm-font">
      Reset
    </button>
    <button  type="submit" [disabled]="!lookupForm.valid" class="btn btn-primary sm-font">Search</button>
  </div>
</section>
