@import 'utility';

header {
  height: 8vh;
  .row {
    background-color: $primary-black;
    color: $primary-white;
    padding: 0rem 1rem;
    align-items: center;
    div {
      background-color: inherit;
      h3,
      h4 {
        color: $primary-black;
      }
    }
    :nth-child(2) {
      text-align: end;
    }
  }
}

section#main-section {
  .main-container {
    padding: 2rem;
    background-color: #ebe9e9;
    height: 92vh;
  }
}

@media (max-width: 480px) {
  header {
    height: 6vh;
  }
  .row {
    font-size: calc(0.5vw + 0.75rem);
  }

  section#main-section {
    .main-container {
      padding: 0rem;
      height: 94vh;
    }
  }
}
