$primary-black: #242323;
$primary-white: #f8f5f5;
$primary-dark-font-color: #666060;
$primary-light-font-color: #ffffff;
$primary-border-color: #ddd;
$primary-highlight-color: #0d6efd;
$sm-font-size: calc(0.5vw + 0.65rem);

$min-font-size: 1rem;
$max-font-size: 10rem;

.btnPrimary {
  background-color: $primary-highlight-color;
  color: $primary-white;
  border: none;
}
