@import '../../../utility';

.landing-container {
  text-align: center;
  flex-direction: column;
  align-items: center;
  .landing-header {
    color: $primary-dark-font-color;
  }
  .lookup-form-container {
    background-color: $primary-light-font-color;
    border: 1px solid $primary-border-color;
    height: 50vh;
    .landing-sub-header {
      color: $primary-dark-font-color;
    }
    .create-customer-action {
      button#create-customer {
        &:hover {
          background-color: transparent;
          color: $primary-highlight-color;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  h3 {
    font-size: calc(0.75vh + 1rem);
  }
  h4 {
    font-size: calc(0.7vh + 0.75rem);
    margin-bottom: 0rem;
  }
}