<div class="landing-container row">
  <h4 class="landing-header smPadding paddingLeftNone paddingRightNone">
    What do you want?
  </h4>
  <div
    class="col-lg-9 col-md-9 col-sm-9 col-12 lookup-form-container mdPadding"
  >
    <h3 class="landing-sub-header lgPadding paddingTopNone">
      Look up Customer
    </h3>
    <div class="create-customer-action floatRight smPadding">
      <button
        type="button"
        class="btn btn-outline-primary borderNone paddingAllNone sm-font"
      >
        Create Customer
      </button>
    </div>
    <app-look-up-form></app-look-up-form>
  </div>
</div>
