/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.row {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.smPadding {
  padding: 0.5rem;
}

.mdPadding {
  padding: 1.5rem;
}

.lgPadding {
  padding: 2.5rem;
}

.paddingAllNone {
  padding: 0rem !important;
}

.paddingTopNone {
  padding-top: 0rem !important;
}

.paddingBottomNone {
  padding-bottom: 0rem !important;
}

.paddingLeftNone {
  padding-left: 0rem !important;
}

.paddingRightNone {
  padding-right: 0rem !important;
}