/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';

.row {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.smPadding {
  padding: 2rem;
}

.mdPadding {
  padding: 3rem;
}

.lgPadding {
  padding: 4rem;
}